body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: black; 
    position:fixed;
    z-index:100;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    align-items:center;
    border-bottom: 10px solid #9437eb;

  }
  

  .texto-grande {
    font-size: 2.5em;
    color: #FFFFFF;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:0
  }
  
  .texto-pequeno {
    font-size: 1.25em;
    color: #9437eb;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
  }

  nav {
    float: right;
  }
  
  
  
  nav ul {
    list-style: none;
    overflow: hidden; 
    display:flex;
  }
  
  nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    
    
  }

  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    
  }
  nav ul li:hover {
    background: white;
    
  }
  nav ul li a:hover {
    
    color: #9437eb; /* Texto blanco al pasar el mouse */
  }
  
 
/*menu desplegable*/

nav ul li ul {
  display: none;
  position: absolute;
  background-color: Black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  float: none;
  width: 100%;
}

nav ul li ul li a:hover {
  background-color: #9437eb;
  color: Black;
}



.portada {
    position: relative;
    width:100%; /* Ajusta la altura según tus necesidades */
    
}
  
  .portada img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    margin-top: 100px;
    
  }

  .bienvenida{
    background-color: #cda2f5;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    height:100%
    
  }
 
  .centrado{
    display:flex;
    
    align-items: center ;
    justify-content: center;
  }
.boton{
    display:block;
    width: 5%;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 1em 2em;
    text-align: center;
}
       
 .boton:hover{
    background-color: #9437eb;
    color: black;
    border: 1px solid Black
}

.linea-negrafinita {
    border-bottom: 1px solid Black;
    margin-top: 0px; /* Ajustar la posición para que se superponga la línea blanca */
    margin-bottom: 100px;
    margin-top:100px
  }
  

.cuadros{
    display: flex;
    justify-content: center
    

}

.cuadro{
    width:350px;
    height:200px;
    background-color: #cda2f5;
    margin-right:10px;
    margin-left:10px;
    border-bottom: 20px solid #9437eb

}

.boton2{
    display:block;
    width: 5%;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 1em 2em;
    text-align: center;
    margin-top: 230px
}
       
 .boton2:hover{
    background-color: #9437eb;
    color: black;
    border: 1px solid Black
 }

.espaciado{

    margin-top: 100px;
}

.espaciado2{

    margin-top: 300px;
}
 footer {
    background-color: Black;
    color:#9437eb;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 10px solid #9437eb
  }
  
  
  p {
    margin: 0pz;
    font-weight: bold;
    font-size: 15px;
  
  
  
  
  }
  
 