body {
  font-family: Helvetica, sans-serif;
}

header {
  background-color: black; /* Fondo blanco */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}


.texto-grande {
  font-size: 60px;
  color: #FFFFFF;
  display: inline-block;
  font-family: Helvetica, sans-serif;
}

.texto-pequeno {
  font-size: 30px;
  color: #FFC107;
  display: inline-block;
  font-family: Helvetica, sans-serif;
}


.botonera ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.botonera li {
  margin-left: 20px; /* Espacio entre botones */
}



.botonera a {
  display: block;
  
  color: #000000; /* Texto negro */
  text-decoration: none;
  padding: 1em 2em; /* Utiliza unidades relativas para el padding */
  font-size: 1.2em;
  transition: background-color 0.2s ease;
  background-color: White; /* Fondo blanco */
  border: 2px solid #000000; /* Borde negro */
  font-size: 1.6em;
  

}


.botonera a:hover {
  background-color: #000000; /* Fondo negro al pasar el mouse */
  color: #FFC107; /* Texto blanco al pasar el mouse */
}

/*Segunda botonera*/

.botonera2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color:#FFC107 #FFFFFF;
}
/* Barra lateral*/


.botonera2 ul::-webkit-scrollbar {
  align-items: right;
  width: 100px;
}

.botonera2 ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.botonera2 ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 20px;
}

.botonera2 ul::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/*autoajustado a la pantalla*/

.botonera2 ul li {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}



.botonera2 li {
  margin-left: 20px; /* Espacio entre botones */
  
}



.botonera2 a {
  display: block;
  
  color: #000000; /* Texto negro */
  text-decoration: none;
  padding: 1em 2em; /* Utiliza unidades relativas para el padding */
  transition: background-color 0.2s ease;
  background-color: White; /* Fondo blanco */
  border: 2px solid #000000; /* Borde negro */
  font-size: 1.6em;
  

}

.botonera2 a:hover {
  background-color: #000000; /* Fondo negro al pasar el mouse */
  color: #FFC107; /* Texto blanco al pasar el mouse */
}


.linea-amarilla {
  border-bottom: 5px solid #FFC107;
  margin-top: 5px; /* Ajustar la posición para que se superponga la línea blanca */
}


/* Articulos*/

.articles {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

/* Estilo para el índice en la parte derecha */

/* Estilo para los enlaces en el índice */
.sidebar a {
  display: block;
  margin-bottom: 10px;
}

  footer {
    background-color: Black;
    color: #FFC107;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
  }
  
  
  p {
    margin: 0pz;
    font-weight: bold;
    font-size: 20px;
  }